.navbar{
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
}

.navbar__container{
    display: flex;
    align-items: flex-end;
}

.navbar__logo{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.navbar__containerUsername{
    margin-right: 40px;
}

.navbar {
    padding: 2rem;
  }
  
  .navbar-brand, .nav-link, .navbar-brand:hover, .nav-link:hover, .navbar-brand:focus, .nav-link:focus, .navbar-brand:active, .nav-link:active {
    color: white !important;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }
  
  .navbar-brand img {
    width: 2.5rem;
  }
  
  .nav-link {
    padding-top: 1rem;
  }